<ion-header>
  <ion-toolbar>
    <ion-title>Publicaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="recargar($event)">
    <ion-refresher-content
    refreshingSpinner="bubbles">
    </ion-refresher-content>
  </ion-refresher>
  <ion-card *ngFor="let p of publicaciones" (click)="irALocal(p.local)">
    <img src="{{p.img}}" />
    <ion-card-header>
      <ion-card-subtitle>{{p.local.nombre_ciudad}}</ion-card-subtitle>
      <!-- <ion-card-subtitle>{{p.local.ciudad.nombre}}</ion-card-subtitle> -->
      <ion-card-title>{{p.local.nombre}}</ion-card-title>
    </ion-card-header>
    <ion-card-content *ngIf="p.texto">
      {{p.texto}}
    </ion-card-content>
  </ion-card>
  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
