<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{local?.nombre}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="local">
  <ion-slides pager="true" [options]="slideOpts">
    <ion-slide *ngFor="let img of local.galeria">
      <img class="slide-img" src="{{img}}" />
    </ion-slide>
  </ion-slides>
  <div class="detalle margin-top padding">
    <div class="title">
      <b>{{local.nombre}}</b>
    </div>
    <div class="descripcion margin-top">
      {{local.descripcion}}
    </div>
    <div class="separator"></div>
    <div class="info-local margin-top">
      <b>Teléfono: </b>{{local.telefono}}<br>
      <b>Ciudad: </b>{{local.nombre_ciudad}}<br>
      <b>Dirección: </b>{{local.direccion}}<br>
    </div>
    <div class="mapa">

    </div>
  </div>
</ion-content>
